@import "tailwindcss";
body{
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
@theme{
 --color-primary: #4CAF50; /* Green */
}

/* GSAP will handle most animations */